# 갭마인더 데이터 집합 불러오기

In [5]:
import pandas as pd
df = pandas.read_csv('../data/gapminder.tsv', sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

# 불러온 데이터 집합 살펴보기

In [6]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

# 열 단위로 데이터 추출하기

# loc 속성으로 행 단위 데이터 추출하기

# tail과 loc는 조금 달라요!

# iloc 속성으로 행 단위 데이터 추출하기

# 파이썬 슬라이싱 구문을 조합하여 원하는 데이터 추출하기

# iloc 속성과 range 메서드로 원하는 데이터 추출하기

# 열 지정값에 파이썬 슬라이싱을 사용하여 원하는 데이터 추출하기

# loc, iloc 자유자재로 사용하기

# 그룹화한 데이터의 평균 구하기

# 그룹화한 데이터의 개수 세어보기

# 그래프 만들기