# 1-1

In [14]:
num={'프로그래밍 언어':80, '데이터베이스':66, '운영체제':73, '전자계산기':90, '네트워크':94}
sum_num=sum(num.values())
avu=sum_num/len(num)

print('총점 {0}점 합계 {1}점'.format(sum_num, avu))

총점 403점 합계 80.6점

# 1-2

1. 23을 5로 나누었을 때의 몫과 나머지 구하기

In [22]:
print('몫', 23/5)
print('나머지', 23%5)

몫 4.6
나머지 3

2. 16진수 FF의 10진수 값 구하기

In [27]:
print('16진수 FF =>', 0xff)

16진수 FF => 255

In [29]:
print('8진수 33 => ',0o33)

8진수 33 =>  27

# 1-3

1. "Life" is too short, You need 'Python' 출력하기

In [34]:
print('\"Life\" is too short, You need \'Python\' ')

"Life" is too short, You need 'Python'

2. 문자열 Slicing

In [36]:
date = '2007-03-27'
change_date = date.replace('-', ' ')
print(change_date)

2007 03 27

 3. 문자열 앞뒤 공백 추가 (format함수) – 총 길이 20

In [38]:
s = 'python'
'{0:^10}'.format(s)

'  python  '

# 1-4

1. 아래와 같은 문자열에서 "short"라는 문자열이 시작되는 위치(인덱스) 구하기
 (find, index)

In [43]:
s = 'Life is too short, You need Python'
s.find('short')
s.index('short')

12

2. 아래와 같은 문자열을 출력결과와 같은 문자열로 변경하기 (replace)

In [47]:
s = 'Eighty percent of $ucce$$ i$ $howing up.'
s=s.replace('$', 's')
print(s)

Eighty percent of success is showing up.

3. 공백 문자를 기준으로 문자열을 리스트로 변환하기 (split)

In [49]:
s = 'Life is too short, You need Python'
my_list=s.split()
print(my_list)

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']

# 1-5

1. season과 color에서 인덱싱을 사용하여 아래와 같은 결과가 나오도록 작성

In [70]:
season = ['봄', '여름', '가을', '겨울']
color = ['RED', 'GREEN', 'BLUE']
join = season[2]+' + '+color[1]
print(join)

가을 + GREEN

2. 중첩 리스트 person에서 인덱싱을 사용하여 아래와 같은 결과가 나오도록 작성

In [68]:
person = [
 'ggoreb',
 20,
 ['서울', '관악구', '신림동'],
 ['대전', '서구', '둔산동']
]
data='['+person[0]+']'+person[2][2]+'/'+person[3][2]

print(data)

[ggoreb]신림동/둔산동

3. 2번의 중첩 리스트 person에서 인덱싱을 사용하여 아래와 같은 결과가 나오도록 작성

In [75]:
data=person[0] +' '+ str(person[1])
print(data)

ggoreb 20

# 1-6

1. 리스트 요소 추가하기 (연산자, append, extend)

In [78]:
list = ['a', 'b', 'c']
list.append('x')
list.extend('z')
print(list)
#extend는 무조건 같은 리스트로

['a', 'b', 'c', 'x', 'z']

2. 리스트 요소 정렬하기 (sort)

In [82]:
list = ['p', 'y', 't', 'h', 'o', 'n']
# 오름차순 정렬 코드 작성
list.sort()
print(list)
# 내림차순 정렬 코드 작성
list.sort(reverse=True)
print(list)

['h', 'n', 'o', 'p', 't', 'y']
['y', 't', 'p', 'o', 'n', 'h']

3. 리스트 요소 중 '대전' 개수 확인하기

In [85]:
list = [
 '서울', '부산', '광주', '대전', '부산',
 '대전', '대전', '서울', '부산', '대전'
]
count=list.count('대전')

print(count)

4

# 1-7

1. 리스트 요소 삭제하기 (remove, pop, del)

In [107]:
list = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']
list.remove('원피스')
list.remove('나루토')
list.pop()
print(list)

['열혈강호', '용비불패']

2. 리스트 요소 삽입하기 (insert)

In [102]:
list = ['열혈강호', '용비불패']
list.insert(1,'고수')
print(list)

['열혈강호', '고수', '용비불패']

3. 리스트 요소 수정하기

In [106]:
list = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']
list[1]='보루토'
count = list
print(count)

['원피스', '보루토', '열혈강호', '용비불패', '드래곤볼']

# 1-8

1. 숫자 3만을 요소로 가지는 튜플 생성

In [110]:
tuple=(3,)
print(tuple)

(3,)

2. 튜플 요소 추가하기

In [117]:
tuple = ('a', 'b', 'c')

list = tuple + ('가',)
print(list)

('a', 'b', 'c', '가')

# 1-9

In [ ]:
1. 딕셔너리 생성하기

In [3]:
number={'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}
print(number)

{'서울': '02', '대전': '042', '부산': '051', '광주': '062', '제주': '064'}

2. 1번 항목에서 생성된 딕셔너리의 Key를 리스트로 생성 (keys, list)

In [4]:
key_list = list(number.keys())
print(key_list)

['서울', '대전', '부산', '광주', '제주']

3. 1번 항목에서 생성된 딕셔너리의 Value를 리스트로 생성 (values, list)

In [6]:
value_list = list(number.values())
print(value_list)

['02', '042', '051', '062', '064']

# 1-10

1. 딕셔너리의 key, value를 튜플 리스트로 변경

In [11]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}
t_list=list(tuple(number.items()))
print(t_list)

[('서울', '02'), ('대전', '042'), ('부산', '051'), ('광주', '062'), ('제주', '064')]

2. '부산'에 해당하는 value 출력

In [14]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}
busan=number['부산']
print(busan)

051

3. 리스트 요소 중에서 '천안' 이라는 Key가 있는지 확인

In [16]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}
is_exist = '천안' in number
print(is_exist)

False

# 1-11

1. 아래와 같은 요소를 가지는 집합 생성

In [23]:
lotto_set = {1, 4, 10, 12, 45, 28}
print(lotto_set)

{1, 4, 10, 12, 45, 28}

2. 리스트 요소 중 중복 데이터를 제거하여 아래와 같이 출력

In [25]:
num_list = [9, 7, 11, 26, 15, 9, 15, 26]
new_list=set(num_list)
print(new_list)

{7, 9, 11, 15, 26}

# 1-12

1. 집합의 요소를 추가 및 삭제하여 아래와 같이 출력

In [29]:
str_set = {'python', 'java', 'jsp'}
str_set.remove('java')
str_set.add('django')

print(str_set)

{'jsp', 'python', 'django'}

2. 두 개의 집합에서 공통 요소만 출력 (교집합)

In [32]:
lotto_num1 = {6, 12, 17, 21, 34, 37}
lotto_num2 = {6, 12, 19, 24, 34, 41}
new_set = lotto_num1 & lotto_num2

print(new_set)

{34, 12, 6}

# 2-1

1. 근무시간이 8시간 이상이면 퇴근이 가능하도록 조건문 작성

In [36]:
workingTime = 8 # 근무시간

if workingTime >= 8:
    print('퇴근~')
else:
    print('계속 근무!')

# workingTime 이 8 이상이면 퇴근
# workingTime 이 8 미만이면 계속 근무

퇴근~

2. 시험점수에 따라 A ~ F 학점을 출력하는 조건문 작성

In [42]:
score = 90 # 시험점수
if score >= 90:
    print("A 학점")
elif score >= 70:
    print("C 학점")
else:
    print('F 학점')

A 학점

3. '하나카드'로 결제 시 할인이 가능하도록 조건문 작성

In [45]:
cardList = ['우리카드', '신한카드', 'KB카드', '하나카드']

if '하나카드' in cardList:
    print('10% 할인 후 결제')
else:
    print('그냥 결제')

10% 할인 후 결제

# 2-2

1. 3과목 이상을 수강하였고 평점이 70점 이상인 경우 '학위 취득' → 2가지 조건 만족
 3과목 이상을 수강하였거나 평점이 70점 이상인 경우 '졸업' → 1가지 조건 만족
 그 외의 경우 '재수강'을 출력하는 조건문 작성

In [51]:
subjectList = ['운영체제', '데이터베이스', '객체지향언어'] # 수강한 과목 리스트
average = 60 # 평점

if len(subjectList)>=3 and average >= 70:
    print('학위 취득')
elif len(subjectList)>=3 or average >= 70:
    print('졸업')
else:
    print('재수강')


# 리스트 요소의 개수를 확인할 때 len() 함수 사용, ex) len(subjectList)

졸업

2. 이수한 과목 목록 중 '자료구조'가 있는지 확인하고
 '자료구조'가 있다면 점수를 확인한 후
 60점 이상이면 '이수 완료'를 출력하는 조건문 작성

In [53]:
subject = {'자료구조' : 80, '알고리즘' : 60, '네트워크' : 90}

if '자료구조' in subject:
    if subject['자료구조']>=60:
        print('이수 완료')
    else:
        print('이수 실패')
else:
    print('자료구조 수업을 안들음')

이수 완료

# 2-3

1. 주어진 숫자가 짝수인지 홀수인지 확인할 수 있는 조건문 작성

In [58]:
num = 122
# 코드 작성, % 연산자
if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

짝수

2. score가 2의 배수인 경우 '짝', 3의 배수인 경우 '쿵',
 2의 배수이고 3의 배수인 경우 '쿵짝',
 그 외의 경우는 score 가 출력되도록 조건문 작성

In [65]:
score = int(input())
if score%6==0:
    print('쿵짝')
elif score%3==0:
    print('쿵')
else:
    print('짝')

12
쿵짝

# 2-4

 1부터 1000 까지의 정수 합 구하기

In [82]:
num = 1
total = 0

while num<=1000:
    total += num
    num+=1

print(total)

500500

In [94]:
num = 1
total = 0

for _ in range(num,1001):
    total=total+_

print(total)

500500

2. 1부터 1000 까지의 정수 중 3의 배수 합 구하기

In [96]:
num = 1
total = 0

while num<=1000:
    if num %3==0:
        total += num
        num+=1
    else:
        num+=1

print(total)

166833

In [104]:
num = 1
total = 0

for i in range(num,1001):
    if i%3==0:
        total+=i
    else:
        continue
print(total)

166833

# 2-5

1. 각 학생들의 점수를 표현한 리스트를 이용하여 50점 이상인 학생의 점수 합 구하기

In [121]:
scoreList = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
total = 0
# 코드 작성 - List pop() 함수 이용
for i in range(len(scoreList)):
    num=scoreList.pop()
    if num >= 50:
        total+=num
    
        

print(total)

481

In [119]:
while scoreList:
    score = scoreList.pop()

    if score >= 50:
        total += score

print(total)

481

2. 각 학생들의 점수를 표현한 딕셔너리를 이용하여 80점 이상인 학생의 점수 합 구하기

In [130]:
studentInfo = {
 'a':33, 'b':55, 'c':67, 'd':82, 'e':45,
 'f':33, 'g':90, 'h':87, 'i': 100, 'j':25
}
total = 0
# 코드 작성 - Dictionary values(), List pop() 등 이용
score=list(studentInfo.values())
while score:
    num=score.pop()
    if num >= 80:
        total+=num

print(total)

359

# 2-6

1. 두 개의 두사위를 던졌을때 나오는 눈을 출력하고 두 눈이 같으면 종료

In [151]:
import random # random 모듈 import

while True:
    a=str(random.randint(1,6))
    b=str(random.randint(1,6))
    print(a+' / '+b)
    
    if a == b:
        print('두 눈이 같으므로 종료')
        break

# random.randint(1, 6) 함수 이용
# 두 눈이 같을 때 break

6 / 5
3 / 6
4 / 4
두 눈이 같으므로 종료

2. 랜덤 기능을 이용하여 6개의 로또 번호 만들기

In [21]:
import random
lottoList = list() # 빈 List 생성

i=1
while i <= 4:
    lottoSet=set()
    while True:
        num=random.randint(1,45)
        lottoSet.add(num)
        if len(lottoSet)==6:
            lottoSet = sorted(lottoSet)
            lottoList.append(list(lottoSet))
            break
    i+=1
for i in range(len(lottoList)):
    print(lottoList[i], sep='\n')

[1, 10, 11, 20, 21, 41]
[1, 11, 16, 27, 33, 42]
[1, 14, 30, 35, 41, 42]
[24, 28, 32, 36, 39, 44]

In [22]:
import random
for j in range(5):
    num = set()
    
    while True:
        result = random.randint(1,45)
        num.add(result)
        if len(num) == 6:
            break
    num = sorted(num)    
    print(num)

[2, 4, 11, 21, 27, 38]
[14, 16, 23, 24, 38, 41]
[27, 28, 31, 42, 43, 45]
[9, 12, 28, 29, 31, 33]
[8, 9, 16, 26, 27, 36]

# 2-7

1. 아래와 같은 모습의 삼각형 모습 출력

In [30]:
i = 1 # '*' 개수
for i in range(6):
    print('*'*i)

*
**
***
****
*****

2. 아래와 같은 모습의 삼각형 모습 출력

In [35]:
i = 1
space = 0
while i <= 5:
    space = 5 - i
    print(' ' * space, end='')
    print('*' * i)
    i += 1
print()

    *
   **
  ***
 ****
*****

# 2-8

1. 1 ~ 100 사이의 숫자 중 3을 포함하고 있는 숫자와 그 개수를 출력

In [60]:
count = 0
i=0
while i <= 100:
    a=str(i)
    if '3' in a:
        print(a)
        count+=1
    i+=1
print('개수 : ' + str(count))
# 코드 작성
# 숫자를 문자열로 바꾸기 str(숫자) 함수 이용
# 자료의 내부 값 확인 in 연산자 이용

3
13
23
30
31
32
33
34
35
36
37
38
39
43
53
63
73
83
93
개수 : 19

# 2-9

1. 아래와 같은 리스트가 있을 때 각 요소가 3의 배수인지 확인하여 삭제하는 코드 작성

In [119]:
list1 = [10, 20, 30, 40, 50, 60, 70]
for i in range(len(list1)):
    print(i)
    if list1[i-1] % 3 == 0:
        list1.pop(i-1)
        
print(list1)
# remove() 함수를 사용하지 말고 pop() 함수를 이용하여 작성

0
1
2
3
4
5
6

IndexError: list index out of range

In [120]:
list = [10, 20, 30, 40, 50, 60, 70]

for i in range(len(list), 0, -1):
    if list[i - 1] % 3 == 0:
        list.pop(i - 1)

print(list)

print()

[10, 20, 40, 50, 70]

In [121]:
print()

list = [10, 20, 30, 40, 50, 60, 70]

for i in reversed(range(len(list))):
    if list[i] % 3 == 0:
        list.pop(i)

print(list)

print()

[10, 20, 40, 50, 70]