## 연습문제 1-1

In [2]:
name2 = {'프로그래밍 언어':'80', '데이터베이스':'66', '운영체제': '73', '전자계산기':'90', '네트워크':'94'}

In [40]:
name3 = list(name2.values())

def auv(temp):
    result = 0;
    for _ in range(0,len(temp)):
        result += int(temp[_])
    print(result/len(temp))

auv(name3)

80.6

## 연습문제 1-2

In [53]:
print (23//5)
print (23%5)

4
3

In [48]:
print(0xff)

255

In [55]:
print(0o33)

27

## 연습문제 1-3

In [57]:
a = '"Life" is too short, You need "Python"'
print(a)

"Life" is too short, You need "Python"

In [70]:
data = '2007-03-27'

change_date = data[0:4] +' '+ data[5:7] +' '+ data[-2:]
print(change_date)

2007 03 27

In [71]:
print ('{0:^20}'.format('python'))

       python

## 연습문제 1-4

In [75]:
s = 'Life is too short, You need Python'

print(s.index('short'))

12

In [80]:
s = 'Eighty percent of $ucce$$ i$ $howing up.'

print(s.replace('$','s'))

Eighty percent of success is showing up.

In [81]:
s = 'Life is too short, You need Python'

my_list = s.split()
print(my_list)

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']

## 연습문제 1-5

In [85]:
season = ['봄', '여름', '가을', '겨울']
color = ['RED', 'GREEN', 'BLUE']
join = season[2] + '+' + color[1]
print(join)

가을+GREEN

In [89]:
person = [
 'ggoreb',
 20,
 ['서울', '관악구', '신림동'],
 ['대전', '서구', '둔산동']
]
person1 = ['[ggoreb]']


print (person1[0] + person[2][2] + '/'+ person[3][2])

[ggoreb]신림동/둔산동

In [91]:
data = person[0] + ' ' + str(person[1])
print(data)

ggoreb 20

## 연습문제 1-6

In [95]:
list1 = ['a', 'b', 'c']

list1.extend(['x','z'])
print(list1)

['a', 'b', 'c', 'x', 'z']

In [96]:
list1 = ['a', 'b', 'c']

list1.append('x')
list1.append('z')
print(list1)

['a', 'b', 'c', 'x', 'z']

In [103]:
list4 = ['p', 'y', 't', 'h', 'o', 'n']
# 오름차순 정렬 코드 작성
list4.sort()
print(list4)

# 내림차순 정렬 코드 작성
list4.sort(reverse=True)
print(list4)

['h', 'n', 'o', 'p', 't', 'y']
['y', 't', 'p', 'o', 'n', 'h']

In [104]:
list4 = ['p', 'y', 't', 'h', 'o', 'n']
# 오름차순 정렬 코드 작성
list4.sort()
print(list4)

# 내림차순 정렬 코드 작성
list4.reverse()
print(list4)

['h', 'n', 'o', 'p', 't', 'y']
['y', 't', 'p', 'o', 'n', 'h']

In [105]:
list1 = [
 '서울', '부산', '광주', '대전', '부산',
 '대전', '대전', '서울', '부산', '대전'
]
count1 = list1.count('대전') 
print(count1)

4

## 연습문제 1-7

In [124]:
list5 = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']
list5.remove('원피스')
list5.pop()
del list5[0]

print(list5)

['열혈강호', '용비불패']

In [126]:
list6 = ['열혈강호', '용비불패']
list6.insert(1,'고수')
print(list6)

['열혈강호', '고수', '용비불패']

In [130]:
list6 = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']
list6.remove('나루토')
list6.insert(1,'보루토')

print(list6)

['원피스', '보루토', '열혈강호', '용비불패', '드래곤볼']

## 연습문제 1-8

In [134]:
tuple2 = (3, )
print(tuple2)

(3,)

In [149]:
tuple1 = ('a', 'b', 'c')
tuple1 = tuple1 + ('가',)
print(tuple1)

('a', 'b', 'c', '가')

In [152]:
tuple1 = ('a', 'b', 'c')
tuple1 = tuple1 + tuple('가')
print(tuple1)

('a', 'b', 'c', '가')

## 연습문제 1-9

In [158]:
number = {'서울': '02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}

print(number)

{'서울': '02', '대전': '042', '부산': '051', '광주': '062', '제주': '064'}

In [160]:
print(list(number.keys()))

['서울', '대전', '부산', '광주', '제주']

In [161]:
print(list(number.values()))

['02', '042', '051', '062', '064']

## 연습문제 1-10

In [163]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}

t_list = number.items()

print(t_list)

dict_items([('서울', '02'), ('대전', '042'), ('부산', '051'), ('광주', '062'), ('제주', '064')])

In [168]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}

busan = number.get('부산')

print(busan)

051

In [171]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}
is_exist = '천안' in number

print(is_exist)

False

## 연습문제 1-11

In [179]:
lotto_set = set((1, 4, 10, 12, 45, 28))

print(lotto_set)

{1, 4, 10, 12, 45, 28}

In [178]:
num_list = [9, 7, 11, 26, 15, 9, 15, 26]
new_list = set(num_list)
print(new_list)

{7, 9, 11, 15, 26}

## 연습문제 1-12

In [20]:
s = {'python', 'java', 'jsps'}
p = list(s)
print(p.remove('jsps'))

None

In [21]:
lotto_num1 = {6, 12, 17, 21, 34, 37}
lotto_num2 = {6, 12, 19, 24, 34, 41}
new_set = lotto_num2.intersection(lotto_num1)
print(new_set)

{34, 12, 6}