In [12]:
from pyproj import Proj, transform
import numpy as np
import pandas  as pd

# Projection 정의
# UTM-K
proj_UTMK = Proj(init='epsg:5181') # UTM-K(Bassel) 도로명주소 지도 사용 중

# WGS1984
# proj_WGS84 = Proj(init='epsg:4326') # Wgs84 경도/위도, GPS사용 전지구 좌표
proj_WGS84 = Proj(init='epsg:4326') # Wgs84 경도/위도, GPS사용 전지구 좌표

# 좌표 변환 Example

In [13]:
# UTM-K -> WGS84 샘플
x1, y1 = 185658.40757,447839.99221
x2, y2 = transform(proj_UTMK,proj_WGS84,x1,y1)
print(x2,y2)

126.837746714377 37.5299448479299

In [14]:
df = pd.read_csv('loc.csv')
df

,관리번호,X좌표,Y좌표,인접지지적,인접지 주소(동),인접지 주소(번지)
0,470103_4_0003,185658.40757,447839.99221,1147010300102280001,양천구 신월동,228-1
1,560106_4_0041,191606.56948,446787.11200,1156010600100250001,영등포구 영등포동5가,25-1
2,560106_4_0042,191610.08308,446830.15067,1156010600100270005,영등포구 영등포동5가,27-5
3,560107_4_0028,191582.53625,446867.20485,1156010700100010016,영등포구 영등포동6가,1-16
4,560109_4_0001,191777.08098,447349.71074,1156010900100010000,영등포구 영등포동8가,1
...,...,...,...,...,...,...
980,320105_4_0008,202747.56704,460814.48602,1132010500103880033,도봉구 쌍문동,388-33
981,440101_4_0008,196121.36674,450825.20937,1144010100102670001,마포구 아현동,267-1
982,140163_4_0003,201396.04613,451892.56121,1114016200107730000,중구 신당동,773
983,650106_4_0016,200612.26199,446002.91764,1165010600100650007,서초구 잠원동,65-7
984,500103_4_0081,186759.49122,450303.20361,1150010300111170014,강서구 화곡동,1117-14

In [27]:
list_x = []
list_y = []
for i in range(len(df)):
    x = df.loc[i]['X좌표']
    y = df.loc[i]['Y좌표']

    x2, y2 = transform(proj_UTMK,proj_WGS84,x,y)
    list_x.append(x2)
    list_y.append(y2)
df['X'] = list_x
df['Y'] = list_y

In [29]:
df.to_csv('loc2.csv', sep=',')

In [3]:
# WGS84 -> UTM-K 샘플
x1, y1 = 127.07098392510115, 35.53895289091983
x2, y2 = transform(proj_WGS84, proj_UTMK, x1, y1)
print(x2,y2)

961114.5197260004 1727112.2691739995

# DataFrame 여러 좌표 변환 Example

In [4]:
# x, y 컬럼을 이용하여 UTM-K좌표를 WGS84로 변환한 Series데이터 반환
def transform_utmk_to_w84(df):
    return pd.Series(transform(proj_UTMK, proj_WGS84, df['x'], df['y']), index=['x', 'y'])

In [5]:
df_xy = pd.DataFrame([
                                        ['A', 961114.519726,1727112.269174],
                                        ['B', 940934.895125,1685175.196487],
                                        ['C', 1087922.228298,1761958.688262]
                                    ], columns=['id', 'x', 'y'])

In [6]:
df_xy

  id             x             y
0  A  9.611145e+05  1.727112e+06
1  B  9.409349e+05  1.685175e+06
2  C  1.087922e+06  1.761959e+06

In [7]:
df_xy[['x_w84', 'y_w84']] = df_xy.apply(transform_utmk_to_w84, axis=1)

In [8]:
df_xy

  id             x             y       x_w84      y_w84
0  A  9.611145e+05  1.727112e+06  127.070984  35.538953
1  B  9.409349e+05  1.685175e+06  126.851387  35.159797
2  C  1.087922e+06  1.761959e+06  128.473791  35.849993